@using Todo.Models.TodoItems
@model TodoItemCreateFields

<button type="button" class="btn btn-link" data-toggle="modal" data-target="#createListItemModal">
    Add New Item
</button>

<div class="modal fade" id="createListItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Item in @Model.TodoListTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.EditorForModel()
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createTodoListItem">Save changes</button>
            </div>
        </div>
    </div>
</div>